* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

[data-role="page"] {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;

    font-family:'Corbel'; // HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:16px;
    // text-transform:uppercase;

    width:100%;
    height:100%;

    margin:0px;
    padding:0px;
}

#intro {
    display: none;
}

#splash {
    border: black thin solid;

    position: absolute;
    left: 50%;
    top: 15%;

    width: 200px;
    height: 100px;

    margin-left: -100px;
    margin-top: -50px;

    text-align: center;
    vertical-align: middle;
}

.footer-button {
    font-size: 12px;
    padding: 0 15px;
    // height: 45px;
    // line-height: 45px;
    vertical-align: middle;
}
.footer-progress {
    font-size: 10px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

footer-controls {
    text-align: center;
}

.header-button {
    font-size: 12px;
    padding: 0 15px;
    // height: 45px;
    // line-height: 45px;
    vertical-align: middle;
}

.left {
    float: left;
}
.right {
    float: right;
}

.profile-content {
    position: absolute;
    width: 100%;
    height: 100%;
    border: black thin solid;
    overflow: auto;
}

.profile-tab-selected {
    color: red;
    border: red thick solid;
}

.profile-option {
    position: absolute;
    border: black thin solid;

    width: 100px;
    // height: 50px;
}
.option {
    position: absolute;
    left: 50%;

    width: 100px;
    height: 100px;

    text-align: center;
    vertical-align: bottom;

    font-size: 8px;
    border: black solid thin;
}

// To be set using js
.options-row1 {}
.options-row2 {}

.option.left {}
.option.centre {}
.option.right {}

.header {
    height: 100px;
    width: 100%;
    text-align: center;
}

.header .title {
    line-height: 54px;
    margin: 27px 0 0 25px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}

.header .logo {
    background-image: url('../resources/menu_bar/wow_icon.png');
    height: 54px;
    width: 24px;
    margin: 27px 0 0 34px;
}
.footer {
    height: 40px;
    border: white dotted thick;
    width: 100%;
    text-align: center;
}

#menu .content {
    padding-top: 25px;
}

.swiper-container {
    // text-align: center;
    height: 400px;
    width: 100%;
}

.slide {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.menu_grid {
  margin: 0 auto;
  text-align: center;
}

.menu_block {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    margin:10px;
    display:inline-block;
    border: black solid thin;
}

#animals .content {
    overflow: auto;
}

.animal-grid {
    padding-top: 40px;
    margin: 0 auto;
}

.animal-block {
    width: 80px;
    height: 80px;
    margin: 10px;
    display: inline-block;
}

.animal-icon {
    height: 80px;
    width: 80px;
}

.cautionNotice {
    display: none;
}

/* Category styling */
.category-label {
    position: absolute;
    top: 120px;
    left: 20px;

    border: black solid thin;
    width: 200px;
}
.search-by-category {
    overflow: auto;

    position: absolute;
    top: 150px;
    left: 20px;
    max-height: 300px;

    background-color: lightgray;
    border: black solid thin;
    width: 200px;

    display: none; // hide by default, must be last style
}
.category-option {
    margin-left: 30px;
}
.search-by-category hr {
    margin-top: 2px;
    margin-bottom: 2px;

    height: 5px;
    border: 0;
    box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.5);
}

/* Letter styling */
.letter-label {
    position: absolute;
    top: 120px;
    right: 20px;

    border: black solid thin;
    width: 200px;
}
.search-by-letter {
    overflow: auto;

    position: absolute;
    top: 150px;
    right: 20px;
    max-height: 300px;

    background-color: lightgray;
    border: black solid thin;
    width: 200px;

    display: none; // hide by default, must be last style
}
.letter-heading {
    float: left;
}
.letter-option {
    margin-left: 30px;
}
.search-by-letter hr {
    margin-top: 2px;
    margin-bottom: 2px;

    height: 5px;
    border: 0;
    box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.5);
}
/* Category styling */
.size-label {
    position: absolute;
    bottom: 120px;
    left: 20px;

    border: black solid thin;
    width: 200px;
}
.search-by-size {
    overflow: auto;

    position: absolute;
    bottom: 150px;
    left: 20px;

    background-color: lightgray;
    border: black solid thin;
}

.audio-track {
    padding-left: 10px;
    padding-top: 25px;
    background-color: lightgray;
    border: black solid thin;

    vertical-align: middle;
}

/* Portrait layout (default) */
.content {
    border: black solid thin;
    // background:url(../img/logo.png) no-repeat center top;  170px x 200px
    // position:absolute;      // position in the center of the screen
    // left:50%;
    // top:50%;
    // height:50px;            // text area height
    // width:50px;             // text area width
    text-align: center;
    // vertical-align: middle;
    // padding:180px 0px 0px 0px;      // image height is 200px (bottom 20px are overlapped with text)
    // margin:-115px 0px 0px -112px;   // offset vertical: half of image height and text area height
                                    // offset horizontal: half of text area width
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    body {
        font-size:20px;
    }
    .content {
        // font-size:20px;
        // background-position:left center;
        // padding:75px 0px 75px 170px;   // padding-top + padding-bottom + text area = image height
        // margin:-90px 0px 0px -198px;   // offset vertical: half of image height
                                       // offset horizontal: half of image width and text area width
    }
    #splash {
        top: 25%;
    }

    .profile-option {
        width: 150px;
    }

    .menu_block {
        width: 150px;
        height: 150px;
        margin:25px;
    }

    .animal-block {
        width: 150px;
        height: 150px;
        margin: 25px;
    }

    .animal-icon {
        height: 150px;
        width: 150px;
    }
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.test {}
