/* @media screen and (max-width:500px) and (-webkit-min-device-pixel-ratio: 2) */
@media screen and (max-width:400px)
{
    .modal-title {
        font-size: 19px;
        font-weight: bold;
    }

    .modal-content {
        font-size: 16px;
    }

    h1 {line-height: 24px;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        text-align: center;
        font-size: 20px;
        font-weight: lighter;}
    h2 {line-height: 34px;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        text-align: center;
        font-size: 22px;}
    h3 {line-height: 34px;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        text-align: center;
        font-size: 18px;
    }
    h4 {line-height: 14px;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        text-align: center;
        font-size: 14px;
    }

    b {line-height: 24px;
/*       //text-shadow: 1px 1px 2px #000;
       //text-align: center;*/
       font-size: 14px;
    }

    p {line-height: 18px;
       color: #fff;
/*       //text-shadow: 1px 1px 2px #000;
       //text-align: center;*/
       font-size: 16px;
    }

    #splash {
        border: none;

/*        // position: absolute;
        // left: 0%;
        // top: 0%;*/
        margin: 0 auto;

        width: 100%;
        height: 100%;


        text-align: center;
/*        // vertical-align: middle;*/

        overflow: auto;

        background-image: url('../resources/splashbgsmall.jpg');
        background-repeat: no-repeat;
        background-position: left;


    }

    #splashlogo {
        display: block;

        position: absolute;
        top: 40px;

        background-image: url('../resources/logo.png');
        background-size: auto 100px ;
        height: 100px;
        width: 213px;
        left: 50%; /* centre div */
        margin-left:-106px; /* half of the width */
    }

    #toggleIntro {
        display: block;
        position: absolute;
        bottom: 165px;
        background-image: url('../resources/buttons/front_page/play.png');
        background-size: auto 45px;
        height: 45px;
        width: 45px;
        left: 50%; /* centre div */
        margin-left:-22px; /* half of the width */
    }

    #welcome {
        display: block;

        position: absolute;
        bottom: 95px;

        width: 240px;
        left: 50%; /* centre div */
        margin-left:-120px; /* half of the width */
    }

    .splashtitle {
        background-image: url('../resources/buttons/front_page/splashtitle.jpg');
        background-position: center;
        background-size: auto 30px ;
        position: absolute;
        bottom: 0px;
        height: 30px;
        width: 100%;
    }

    #enter {
        display: block;
        text-transform: uppercase;
        position: absolute;
        bottom: 30px;
        width: 150px;
        left: 50%; /* centre div */
        margin-left:-75px; /* half of the width */
    }

    .header {
        background-image: url('../resources/buttons/menu_bar/menubg.jpg');
        background-size: auto 50px;
        background-repeat: repeat;
        height: 50px;
        width: 100%;
        text-align: center;
        /* margin-top: 19px;*/
    }

    .content {
        height: 100%;
    }

    .title {
        line-height: 26px;
        margin: 14px 0 0 12px;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
    }

    .logo {
        background-image: url('../resources/buttons/menu_bar/wow_icon.png');
        background-size: auto 27px ;
        background-repeat: no-repeat;
        height: 27px;
        width: 27px;
        margin: 16px 0 0 16px;
    }

    .options {
        background-image: url('../resources/buttons/menu_bar/menu.png');
        background-size: auto 17px ;
        background-repeat: no-repeat;
        height: 17px;
        width: 30px;
        margin: 16px 15px 0 40px;
    }

    .action-home {
        background-image: url('../resources/buttons/menu_bar/home.png');
        background-size: auto 17px ;
        background-repeat: no-repeat;
        height: 17px;
        width: 20px;
        margin: 16px 0 0 0;
    }

    .forward {
        background-image: url('../resources/buttons/menu_bar/forward.png');
        background-size: auto 17px ;
        background-repeat: no-repeat;
        height: 17px;
        width: 12px;
        margin: 16px 0 0 0;
    }

    .back {
        background-image: url('../resources/buttons/menu_bar/back.png');
        background-size: auto 17px ;
        background-repeat: no-repeat;
        height: 17px;
        width: 12px;
        margin: 16px 0 0 0;
    }

    #menu .content {
        padding-top: 20px;
        border: none;

/*        // position: absolute;
        // left: 0%;
        // top: 0%;*/
        margin: 0 auto;

        width: 100%;
        height: 100%;

        text-align: center;
/*        // vertical-align: middle;*/

        overflow: auto;

        background-image: url('../resources/indexbg1.jpg');
        background-size: auto 100% ;
        background-repeat: no-repeat;
        background-position: left;
    }

    .menu_block {
        vertical-align: middle;
        text-align: center;
        width: 100px;
        height: 100px;
        display:inline-block;
        margin: 5px;
        border: 2px solid #ffffff;
        border-radius: 5px;
        text-shadow: 1px 1px 2px #000;
    }

    .main_icon {
        height: 32px;
        background-repeat: no-repeat;
        margin-top: 15px;
    }

    .option_animals {
        background-image: url('../resources/buttons/index_page/animals.png');
        background-size: auto 32px ;
        width: 104px;
        margin: 23px 0px 1px 25px;
    }

    .option_game {
        background-image: url('../resources/buttons/index_page/game.png');
        background-size: auto 32px ;
        width: 84px;
        margin: 23px 0px 1px 31px;
    }

    .option_question {
        background-image: url('../resources/buttons/index_page/question.png');
        background-size: auto 28px ;
        width: 42px;
        margin: 22px 0px -12px 42px;
    }

    .option_about {
        background-image: url('../resources/buttons/index_page/about.png');
        background-size: auto 32px ;
        width: 64px;
        margin: 23px 0px 1px 34px;
    }

    .option_safety {
        background-image: url('../resources/buttons/index_page/safety.png');
        background-size: auto 32px ;
        width: 68px;
        margin: 23px 0px 1px 32px;
    }

    .option_donate {
        background-image: url('../resources/buttons/index_page/donate.png');
        background-size: auto 32px ;
        width: 74px;
        margin: 23px 0px 1px 32px;
    }

    #social_container {
        display: block;
        text-transform: uppercase;

        position: absolute;
        padding-top: 10px;
        width: 335px;
        left: 50%; /* centre div */
        margin-left:-170px; /* half of the width */
        margin-top: 6px
    }

    .share-facebook {
        background-image: url('../resources/buttons/other/facebook_share.png');
        background-size: auto 30px;
        height: 30px;
        width: 93px;
        float: left;
        margin-left: 60px;
        margin-top: 5px;
    }

    .share-twitter {
        background-image: url('../resources/buttons/other/twitter_share.png');
        background-size: auto 30px;
        height: 30px;
        width: 93px;
        float: right;
        margin-right: 60px;
        margin-top: 5px;
    }

    #visit-facebook {
        background-image: url('../resources/buttons/other/facebook_share.png');
        background-size: auto 23px ;
        width: 72px;
        height: 23px;
        float: left;}

    #visit-twitter {
        background-image: url('../resources/buttons/other/twitter_share.png');
        background-size: auto 23px ;
        width: 72px;
        height: 23px;
        float: right;
    }

    .category-label {
    /*position: absolute;
     top: 120px;
    left: 28px; */
    padding: 5px 0 5px 0;
    display: inline-block;
    text-align: center;
    margin: 10px 0 0 15px;
    width: 90%;
    height: 18px;
    background-color: #68666a;
    /*position: absolute;*/
    border-radius: 5px;
    /* margin-left: 5%; */
    /* overflow-y: scroll; */
}
    .search-by-category {
        padding: 6px;
        position: absolute;
        z-index: 3002;
        overflow: hidden;
        width: 87%;
        max-width: 88%;
        min-width: 309px;
    /*    //background-color: lightgray;*/
        border: none;
        margin: 0px 0 0 14px;
        background-color: rgba(71, 68, 73, 0.9);
       display: none; /* // hide by default, must be last style*/
    
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
}
    .category-option {
        margin-left: 30px;
        /* padding: 6px 0px 0px 1px; */
    }
    .search-by-category hr {

    /*    //height: 1px;*/
        width: 320px;
        /* min-height: 10px; */
        border-top: 1px solid black;
    /*    //box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.5);*/
    }

    /* Letter styling */
    .letter-label {
        padding: 5px 0 5px 0;
        margin: 10px 0 0 15px;
        left: none;
        display: block;
        position: relative;
        text-align: center;
        float: left;
        /* margin-top: 6px; */
        /* margin-top: 6px; */
        width: 90%;
        max-width: 90%;
        min-width: 320px;
        height: 18px;
        background-color: #68666a;
        /*position: absolute;*/
        border-radius: 5px;
    
        /* max-height: 400px; */
        /* overflow-y: scroll; */
}
    .search-by-letter {
        padding: 6px;
        z-index: 3001;
        overflow: hidden;
        max-width: 355px;
        width: 88%;
        max-height: 400px;
        overflow-y:  scroll;
        min-width: 309;
        /* margin-top: 36px; */
    /*    //background-color: lightgray;*/
        border: none;
        background-color: rgba(47, 44, 50, 0.9);
        position: absolute;
        left: 13px;
        display: none;
        margin: 38px 0 0 0px;
        -webkit-overflow-scrolling: touch; /* This gives us scrollbars. */
        position: fixed; /* This means we don't have to worry about overflow issues */
        -webkit-transition: left 0.2s ease-in;
        transition: left 0.2s ease-in;
        /* float: left; */
    
        background-color: rgba(71, 68, 73, 0.9); display: none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
}
    .letter-heading {
        float: left;
        text-shadow: 1px 1px 2px #000;
    }
    .letter-option {
        margin-left: 30px;
    }
    .search-by-letter hr {
    /*    //height: 1px;*/
        width: 298px;
        /* min-height: 10px; */
        border-top: 1px solid black;
    /*    //box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.5);*/
    }

    #animals .content {
        overflow: auto;
    }

    .animal-grid {
        padding: 1px 0px 0px 5px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .animal-block {
        width: 105px;
        min-height: 80px;
        margin: 1px 3px 12px 7px;
        display: inline-block;
    }

    .animal-icon {
        height: 95px;
        width: 100px;
        border-radius: 5px;
    }

    .footer {
        background-image: url('../resources/buttons/media_player/mediabg_small.jpg');
        background-repeat: repeat-x;
        height: 50px;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0px;

        bottom: -50px;
    }

    .footer-trackName {
        margin: 3px 0 0 3px;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        text-align: center;
        font-size: 11px;
        text-transform: uppercase;
    }
    .footer-button {
        display: inline;
        font-size: 12px;
/*        padding: 5px;*/
        min-height: 11px;
        padding-top: 5px;
/*        // line-height: 45px;
        //vertical-align: middle;*/
    }
    .footer-progress {
        font-size: 10px;
        margin: 3px 0 5px 0;
        width: 90%;
        text-align: center;
        vertical-align: middle;
    }

    .footer-controls {
        text-align: center;
        height: auto;
        min-width: 11px;
    }

    .audio-prev {
        background-image: url('../resources/buttons/media_player/previous.png');
        background-size: auto 16px ;
        background-repeat: no-repeat;
        padding-right: 16px;
    }

    .audio-play-pause {
        background-image: url('../resources/buttons/media_player/play.png');
        background-size: auto 16px ;
        background-repeat: no-repeat;
        margin: 0 17px 0 17px;
    }

    .audio-next {
        background-image: url('../resources/buttons/media_player/next.png');
        background-size: auto 16px ;
        background-repeat: no-repeat;
        padding-left: 16px;
    }

    .header-button {
        font-size: 12px;
        padding: 0px;
        margin-left:8px;
        margin-right:8px;
        // height: 45px;
        // line-height: 45px;
        vertical-align: middle;
    }

    .animal-top {
/*        // width: 200px;*/
        height: 500px;
/*        //display: block;*/
        margin-top:15px;
    }

    .listen-to {
        /* position: absolute; */
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 50px;
    }

    .caution {
        width:100%;
        position: relative;
        margin-top: 50px;
/*        //top:50px;
        //padding-left: 50px;
        //border: 1px solid blue;
        //float: right;*/
    }

    .panel-slider-bottom-handle.bottom {
        bottom: 50px !important;
    }

    .panel-slider-left-handle {
        left: -80px; /* This is used for the panel slider */
    }

    .profile-content {
        left: -80px; /* This is used for the panel slider */
    }

    .profile-tabs {
/*        //background-image: url('../resources/buttons/navigation/navigation_bar.png');
        //border: black thin solid;*/
        width: 80px;
/*        //height: 828px;*/
        position: absolute;
        background-repeat: no-repeat;
        text-shadow: 1px 1px 2px #000;
        text-align: center;
        text-transform: uppercase;
        


        font-size: 11px;

        left: -80px;
/*        //vertical-align: middle;
        //display:inline-block;
        //margin: 15px;*/
    }

    .profile-option {
        position: absolute;
        width: 80px;
        border-right: 2px solid;
        border-right-color: #272521;
        border-bottom: 2px solid;
        border-top: 1px solid;
        border-bottom-color: #000;
        border-top-color: grey;
        border-right-color: 1px solid;


/*        //min-height: 138px;*/
        vertical-align: bottom;
/*        // line-height: 55px;*/
    }

    .profile-option-image {
        background-size: auto 37px ;
        width: 41px;
        height: 37px;
        margin: 0 auto;
        margin-top: 14px;
    }

    .profile-option-text
    {
        margin: 5px 5px 5px 0;
    }

    .animal-profile .profile-option-image {
        background-image: url('../resources/buttons/navigation/profile.png');
        background-size: auto 37px ;
        background-repeat: no-repeat;
        height: 37px;
/*        //margin: 40px 45px 0 0;*/
    }

    .animal-profile.profile-tab-selected .profile-option-image {
        background-image: url('../resources/buttons/navigation/profile_grey.png');
        background-size: auto 37px ;
        background-repeat: no-repeat;
        height: 37px;
        /* margin: 10px 20px 10px 5px; */
    }

    .animal-audio .profile-option-image{
        background-image: url('../resources/buttons/navigation/audio.png');
        background-size: auto 37px ;
        background-repeat: no-repeat;
        height: 37px}

    .animal-audio.profile-tab-selected .profile-option-image{
        background-image: url('../resources/buttons/navigation/audio_grey.png');
        background-size: auto 37px ;
        height: 37px;
        background-repeat: no-repeat;
        /* margin: 10px 20px 10px 5px; */
    }

    .animal-map .profile-option-image{
        background-image: url('../resources/buttons/navigation/map.png');
        background-repeat: no-repeat;
    }

    .animal-map.profile-tab-selected .profile-option-image{
        background-image: url('../resources/buttons/navigation/map_grey.png');
        background-repeat: no-repeat;
    }

    .animal-footprints .profile-option-image{
        background-image: url('../resources/buttons/navigation/footprint.png');
        background-repeat: no-repeat;
    }

    .animal-footprints.profile-tab-selected .profile-option-image{
        background-image: url('../resources/buttons/navigation/footprint_grey.png');
        background-repeat: no-repeat;
    }

    .animal-question .profile-option-image{
        background-image: url('../resources/buttons/navigation/ask_a_question.png');
        background-repeat: no-repeat;
    }

    .animal-question.profile-tab-selected .profile-option-image{
        background-image: url('../resources/buttons/navigation/ask_a_question_grey.png');
        background-repeat: no-repeat;
    }

    .animal-donate .profile-option-image{
        background-image: url('../resources/buttons/navigation/donate_to_conservation.png');
        background-repeat: no-repeat;
    }

    .animal-donate.profile-tab-selected .profile-option-image{
        background-image: url('../resources/buttons/navigation/donate_to_conservation_grey.png');
        background-repeat: no-repeat;
    }

    .about-founder .profile-option-image{
        background-image: url('../resources/buttons/navigation/founder.png');
        background-repeat: no-repeat;
    }

    .about-founder.profile-tab-selected .profile-option-image{
        background-image: url('../resources/buttons/navigation/founder_grey.png');
        background-repeat: no-repeat;
    }

    .about-partners .profile-option-image{
        background-image: url('../resources/buttons/navigation/partners.png');
        background-repeat: no-repeat;
    }

    .about-partners.profile-tab-selected .profile-option-image{
        background-image: url('../resources/buttons/navigation/partners_grey.png');
        background-repeat: no-repeat;
    }

    .about-board .profile-option-image{
        background-image: url('../resources/buttons/navigation/advisory_board.png');
        background-repeat: no-repeat;
    }

    .about-board.profile-tab-selected .profile-option-image{
        background-image: url('../resources/buttons/navigation/advisory_board_grey.png');
        background-repeat: no-repeat;
    }

    .about-sounds .profile-option-image{
        background-image: url('../resources/buttons/navigation/voices_and_sound.png');
        background-repeat: no-repeat;
    }

    .about-sounds.profile-tab-selected .profile-option-image{
        background-image: url('../resources/buttons/navigation/voices_and_sound_grey.png');
        background-repeat: no-repeat;
    }

    .about-photographers .profile-option-image{
        background-image: url('../resources/buttons/navigation/photographers.png');
        background-repeat: no-repeat;
    }

    .about-photographers.profile-tab-selected .profile-option-image{
        background-image: url('../resources/buttons/navigation/photographers_grey.png');
        background-repeat: no-repeat;
    }

    .about-sources .profile-option-image{
        background-image: url('../resources/buttons/navigation/sources.png');
        background-repeat: no-repeat;
    }

    .about-sources.profile-tab-selected .profile-option-image{
        background-image: url('../resources/buttons/navigation/sources_grey.png');
        background-repeat: no-repeat;
    }


    .option {
        position: absolute;
        left: 50%;

        width: 100px;
        height: 100px;

        text-align: center;
        vertical-align: bottom;

        font-size: 8px;
/*        //border: black solid thin;*/
    }
    
    
    
    #howto-size {
    text-align: center;
    /* margin-bottom: 500px; */
    width: 40%;
    margin: 0 auto;
    /* margin-top: 20px; */
}

#scaleSmall{
    display: block;
    width: 25px;
    height: 25px;
    min-height: 25px;
    min-width: 30px;
    float: left;
    overflow: hidden;
    background-image: url('../resources/buttons/scale_slider/mouse.png');
    background-size: auto 25px;
    background-repeat: no-repeat;
    margin-bottom: 1px;
}

#scaleBig {
    display: block;
    width: 45px;
    height: 37px;
    float: right;
    text-align: right;
    overflow: visible;
    background-image: url('../resources/buttons/scale_slider/elephant.png');
    background-size: auto 30px;
    background-repeat: no-repeat;
    margin-top: -6px;
    overflow: visible;
}

.size-label {
    /*position: absolute;*/
    bottom: 120px;
    margin-top: -21px;
    /*left: 20px;*/
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    width: 60%;
    left: 60%;
    margin-left: 20%;
    font-size: 15px;
}
.search-by-size {
    overflow: visible;
    width: 80%;
    height: 70px;
    position: absolute;
    bottom: auto;
    left: 20px;
    text-align: center;
    left: 50%;
    margin-left: -40%;
    text-shadow: 1px 1px 2px #000;

/*    //background-color: lightgray;*/
    /*border: black solid thin;*/
}

#animalSizeSlider.nstSlider {
width: 100%;
margin-top: 15px;
/* margin: 0 auto; */
}

.leftLabel {
    width: 35px;
    height: 20px;
    /*float: left;*/
    text-align: left;
    overflow: hidden;
    margin-top: 7px;
    left: 1px;
}

.rightLabel {
    width: 35px;
    height: 20px;
    float: right;
    text-align: right;
    overflow: hidden;
    margin: 3px 1px 0 0;
}

.audio-track {
padding-left: 10px;
background: url('../resources/buttons/navigation/soundbg.png');
background-repeat: repeat-x;
height: 60px;
vertical-align: middle;
color: #fff;
text-shadow: 1px 1px 2px #000;
line-height: 55px;
}
 
}